<footer id="footer" class="footer light-background">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
        <div class="widget">
          <h3 class="widget-heading">O Ponesi</h3>
          <p class="mb-4">
            Ponesi je inovativna aplikacija koja povezuje putnike i kupce, omogućavajući vam da nabavite proizvode iz celog sveta koji nisu dostupni u Srbiji.
          </p>
          <p class="mb-0">
            <a href="#" class="btn-learn-more">Saznajte više</a>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ps-lg-5 mb-3 mb-md-0">
        <div class="widget">
          <h3 class="widget-heading">Navigacija</h3>
          <ul class="list-unstyled float-start me-5">
            <li><a href="#">Početna</a></li>
            <li><a href="#">Kako radi</a></li>
            <li><a href="#">Za kupce</a></li>
          </ul>
          <ul class="list-unstyled float-start">
            <li><a href="#">Za putnike</a></li>
            <li><a href="#">O nama</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 pl-lg-5">
        <div class="widget">
          <h3 class="widget-heading">Najnovije objave</h3>
          <ul class="list-unstyled footer-blog-entry">
            <li>
              <span class="d-block date">15. jul, 2024</span>
              <a href="#">Nove mogućnosti za putnike na Ponesi</a>
            </li>
            <li>
              <span class="d-block date">1. jul, 2024</span>
              <a href="#">Kako nabaviti ekskluzivne proizvode preko Ponesi</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 pl-lg-5">
        <div class="widget">
          <h3 class="widget-heading">Povežite se</h3>
          <ul class="list-unstyled social-icons light mb-3">
            <li>
              <a href="#"><span class="bi bi-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="bi bi-twitter-x"></span></a>
            </li>
            <li>
              <a href="#"><span class="bi bi-instagram"></span></a>
            </li>
            <li>
              <a href="#"><span class="bi bi-linkedin"></span></a>
            </li>
          </ul>
        </div>

        <div class="widget">
          <div class="footer-subscribe">
            <h3 class="widget-heading">Pretplatite se</h3>
            <form action="forms/newsletter.php" method="post" class="php-email-form">
              <div class="mb-2">
                <input type="text" class="form-control" name="email" placeholder="Unesite vašu email adresu">
                <button type="submit" class="btn btn-link">
                  <span class="bi bi-arrow-right"></span>
                </button>
              </div>
              <div class="loading">Učitavanje</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Vaš zahtev za pretplatu je poslat. Hvala vam!
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright d-flex flex-column flex-md-row align-items-center justify-content-md-between">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Ponesi</strong> <span>Sva prava zadržana</span></p>
      <div class="credits">
        Dizajn: <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </div>
</footer>
