<main class="main">

  <!-- About Section -->
  <section id="about" class="about section">

    <div class="container">
      <div class="row align-items-center justify-content-right">
        <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2" data-aos="fade-up" data-aos-delay="400">
          <dotlottie-player src="https://lottie.host/0bf6145c-712f-4298-a7d2-9b7023abb137/1csYsXQovx.json" background="transparent" speed="1" style="width: 600px; height: 600px;" loop autoplay></dotlottie-player>
        </div>
      </div>
      <div class="col-lg-4 order-lg-1">
        <h1 class="mb-4" data-aos="fade-up">
          Nabavi sta je potrebno, po boljoj ceni.
        </h1>
        <p data-aos="fade-up">
          Ponesi je aplikacija za srpsko tržište koja povezuje ljude koji dolaze iz inostranstva i mogu doneti predmete koji nisu dostupni u Srbiji ili na Balkanu.
          Bilo da putuju u drugu zemlju i dolaze u Srbiju, ili im je potreban predmet koji se može kupiti samo drugde, Ponesi je tu da im pruži ovu uslugu.
          Naš cilj je da kupcima omogućimo da dođu do proizvoda koji su im potrebni, uz dogovorenu cenu i kompenzaciju za osobu koja donosi predmet.
        </p>
        <p class="mt-5" data-aos="fade-up">
          <a href="#" class="btn btn-get-started">Get Started</a>
        </p>
      </div>
    </div>
  </section><!-- /About Section -->

  <!-- About 2 Section -->
  <section id="about-2" class="about-2 section light-background">

    <div class="container">
      <div class="content">
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4 order-lg-2 offset-xl-1 mb-4">
            <div class="img-wrap text-center text-md-left" data-aos="fade-up" data-aos-delay="100">
              <div class="img">
                <dotlottie-player src="https://lottie.host/83751e12-7e73-4edd-9fc8-b7889ac3686f/HOY8TKz38C.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
              </div>
            </div>
          </div>

          <div class="offset-md-0 offset-lg-1 col-sm-12 col-md-5 col-lg-5 col-xl-4" data-aos="fade-up">
            <div class="px-3">
              <span class="content-subtitle">Naša Misija</span>
              <h2 class="content-title text-start">
                Povezujemo Svet, Dostavljamo Vrednosti
              </h2>
              <p class="lead">
                Ponesi je pionirska platforma dizajnirana za srpsko tržište koja omogućava jednostavan pristup proizvodima iz celog sveta.
              </p>
              <p class="mb-5">
                Kroz našu mrežu pouzdanih putnika, kupci mogu naručiti artikle koji nisu dostupni u Srbiji ili na Balkanu, a mi osiguravamo brzu i bezbednu isporuku. Inovativno rešavamo problem dostupnosti proizvoda, istovremeno pružajući priliku za dodatnu zaradu onima koji putuju.
              </p>
              <p>
                <a href="#" class="btn-get-started">Saznaj Više</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /About 2 Section -->

  <!-- Services Section -->
  <section id="services" class="services section light-background">
    <div class="container">
      <div class="row gy-4 justify-content-center">
        <div class="col-lg-3">
          <div class="services-item" data-aos="fade-up">
            <div class="services-icon">
              <i class="bi bi-bullseye"></i>
            </div>
            <div>
              <h3>Ponesi</h3>
              <p>Otkrijte svet globalnog šopinga! Ponesi vam donosi proizvode iz celog sveta direktno u Srbiju. Povežite se sa putnicima i nabavite sve što vam je potrebno, od najnovije tehnologije do retkih kozmetičkih proizvoda.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="services-item" data-aos="fade-up" data-aos-delay="100">
            <div class="services-icon">
              <i class="bi bi-command"></i>
            </div>
            <div>
              <h3>Jednostavno Korišćenje</h3>
              <p>Naša intuitivna platforma omogućava vam da lako pronađete željene proizvode i povežete se sa putnicima. Samo nekoliko klikova vas deli od vaših omiljenih stvari iz inostranstva!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="services-item" data-aos="fade-up" data-aos-delay="200">
            <div class="services-icon">
              <i class="bi bi-bar-chart"></i>
            </div>
            <div>
              <h3>Sigurna Kupovina</h3>
              <p>Ponesi garantuje bezbednost vaših transakcija i kvalitet proizvoda. Uživajte u kupovini bez brige, znajući da su vaše narudžbine u sigurnim rukama od početka do kraja.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Services Section -->

  <!-- Stats Section -->
  <section id="stats" class="stats section light-background">
    <div class="container">
      <div class="row gy-4 justify-content-center">
        <div class="col-lg-5">
          <div class="images-overlap">
            <img src="assets/img/img_v_1.jpg" alt="zadovoljan kupac" class="img-fluid img-1" data-aos="fade-up">
          </div>
        </div>
        <div class="col-lg-4 ps-lg-5">
          <span class="content-subtitle">Zašto Ponesi?</span>
          <h2 class="content-title">Vaš Most ka Svetskim Proizvodima</h2>
          <p class="lead">
            Ponesi ruši granice u onlajn kupovini, donoseći vam svet na dohvat ruke.
          </p>
          <p class="mb-5">
            Bez obzira da li tražite retke knjige, ekskluzivnu odeću ili specifične tehničke uređaje, Ponesi vam omogućava da ih nabavite brzo i jednostavno. Naša zajednica putnika je tu da ispuni vaše želje.
          </p>
          <div class="row mb-5 count-numbers">
            <!-- Start Stats Item -->
            <div class="col-4 counter" data-aos="fade-up" data-aos-delay="100">
              <span data-purecounter-separator="true" data-purecounter-start="0" data-purecounter-end="10000" data-purecounter-duration="1" class="purecounter number"></span>
              <span class="d-block">Zadovoljnih Kupaca</span>
            </div>
            <!-- End Stats Item -->
            <!-- Start Stats Item -->
            <div class="col-4 counter" data-aos="fade-up" data-aos-delay="200">
              <span data-purecounter-separator="true" data-purecounter-start="0" data-purecounter-end="5000" data-purecounter-duration="1" class="purecounter number"></span>
              <span class="d-block">Uspešnih Dostava</span>
            </div>
            <!-- End Stats Item -->
            <!-- Start Stats Item -->
            <div class="col-4 counter" data-aos="fade-up" data-aos-delay="300">
              <span data-purecounter-separator="true" data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter number"></span>
              <span class="d-block">Zemalja</span>
            </div>
            <!-- End Stats Item -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Stats Section -->

  <!-- Tabs Section -->
  <section id="tabs" class="tabs section light-background">
    <div class="container">
      <div class="row gap-x-lg-4 justify-content-between">
        <div class="col-lg-4 js-custom-dots">
          <a href="#" class="service-item link horizontal d-flex active" data-aos="fade-left" data-aos-delay="0">
            <div class="service-icon color-1 mb-4">
              <i class="bi bi-person-plus"></i>
            </div>
            <div class="service-contents">
              <h3>Registracija i prijava</h3>
              <p>Jednostavno se registrujte i prijavite na Ponesi aplikaciju za pristup svim funkcijama.</p>
            </div>
          </a>

          <a href="#" class="service-item link horizontal d-flex" data-aos="fade-left" data-aos-delay="100">
            <div class="service-icon color-2 mb-4">
              <i class="bi bi-cart-plus"></i>
            </div>
            <div class="service-contents">
              <h3>Naručite proizvode</h3>
              <p>Pregledajte i naručite proizvode koji nisu dostupni u Srbiji, a koje želite da kupite.</p>
            </div>
          </a>

          <a href="#" class="service-item link horizontal d-flex" data-aos="fade-left" data-aos-delay="200">
            <div class="service-icon color-3 mb-4">
              <i class="bi bi-airplane"></i>
            </div>
            <div class="service-contents">
              <h3>Ponudite se kao putnik</h3>
              <p>Ako putujete, prijavite se kao dostupni za donošenje proizvoda i zaradite usput.</p>
            </div>
          </a>

          <a href="#" class="service-item link horizontal d-flex" data-aos="fade-left" data-aos-delay="300">
            <div class="service-icon color-4 mb-4">
              <i class="bi bi-shield-check"></i>
            </div>
            <div class="service-contents">
              <h3>Sigurna transakcija</h3>
              <p>Uživajte u sigurnoj kupovini i dostavi, sa garancijom kvaliteta i zaštitom kupca.</p>
            </div>
          </a>
        </div>

        <div class="col-lg-8">
          <div #swiperElement class="swiper init-swiper-tabs">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="assets/img/register-ponesi.jpg" alt="Ponesi aplikacija" class="img-fluid">
                <div class="p-4">
                  <h3 class="text-black h5 mb-3">Kako koristiti Ponesi aplikaciju</h3>
                  <div class="row">
                    <div class="col-lg-8">
                      <p>
                        Ponesi aplikacija vam omogućava da lako nabavite proizvode iz inostranstva ili zaradite donoseći ih. Pratite ove jednostavne korake:
                      </p>
                      <p>
                        1. Registrujte se i prijavite<br>
                        2. Pretražite željene proizvode ili postavite svoju ponudu za donošenje<br>
                        3. Dogovorite detalje sa kupcem ili prodavcem<br>
                        4. Obavite sigurnu transakciju preko naše platforme
                      </p>
                    </div>
                    <div class="col-lg-4">
                      <ul class="list-unstyled list-check">
                        <li>Jednostavno korišćenje</li>
                        <li>Sigurne transakcije</li>
                        <li>Širok izbor proizvoda</li>
                        <li>Mogućnost zarade</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <img src="assets/img/macbook-air-on-desk.jpg" alt="Ponesi proizvodi" class="img-fluid">
              </div>
              <div class="swiper-slide">
                <img src="assets/img/hands-typing-on-laptop.jpg" alt="Ponesi dostava" class="img-fluid">
              </div>
              <div class="swiper-slide">
                <img src="assets/img/ponesi-payment.jpg" alt="Zadovoljni korisnici" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /Tabs Section -->

  <!-- Services 2 Section -->
  <section id="services-2" class="services-2 section">
    <div class="container">
      <div class="row justify-content-center" data-aos="fade-up">
        <div class="col-md-6 col-lg-4">
          <span class="content-subtitle">Naše Usluge</span>
          <h2 class="content-title">
            Ponesi - Vaš Most ka Svetskim Proizvodima
          </h2>
          <p class="lead">
            Ponesi vam omogućava da nabavite proizvode iz celog sveta koje ne možete pronaći u Srbiji, jednostavno i sigurno.
          </p>
          <p class="mb-5">
            Bez obzira da li tražite najnoviju tehnologiju, retke knjige ili omiljene brendove, Ponesi vam pruža pristup globalnom tržištu kroz našu zajednicu putnika.
          </p>
          <p>
            <a href="#" class="btn btn-get-started">Počnite Odmah</a>
          </p>
        </div>
        <div class="col-md-6 col-lg-6 ps-lg-5">
          <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
              <div class="services-item" data-aos="fade-up" data-aos-delay="">
                <div class="services-icon">
                  <i class="bi bi-search"></i>
                </div>
                <div>
                  <h3>Laka Pretraga</h3>
                  <p>Pronađite željene proizvode kroz našu intuitivnu platformu za pretragu</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
              <div class="services-item" data-aos="fade-up" data-aos-delay="100">
                <div class="services-icon">
                  <i class="bi bi-shield-check"></i>
                </div>
                <div>
                  <h3>Sigurne Transakcije</h3>
                  <p>Uživajte u sigurnoj kupovini sa našim sistemom zaštite i verifikacije</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
              <div class="services-item" data-aos="fade-up" data-aos-delay="200">
                <div class="services-icon">
                  <i class="bi bi-currency-exchange"></i>
                </div>
                <div>
                  <h3>Mogućnost Zarade</h3>
                  <p>Putujete? Zaradite donošenjem proizvoda drugim korisnicima</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
              <div class="services-item" data-aos="fade-up" data-aos-delay="300">
                <div class="services-icon">
                  <i class="bi bi-globe"></i>
                </div>
                <div>
                  <h3>Globalna Mreža</h3>
                  <p>Pristupite proizvodima iz celog sveta kroz našu mrežu putnika</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /Services 2 Section -->



  <!-- Faq Section -->
  <section id="faq" class="faq section">
    <div class="container section-title" data-aos="fade-up">
      <p>Pitanja</p>
      <h2>Često Postavljana Pitanja</h2>
    </div>

    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-12">
          <div class="custom-accordion" id="accordion-faq">
            <div class="accordion-item">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-faq-1">
                  Kako da se registrujem i počnem da koristim Ponesi?
                </button>
              </h2>
              <div id="collapse-faq-1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-faq">
                <div class="accordion-body">
                  Registracija na Ponesi je jednostavna. Preuzmite našu aplikaciju sa App Store-a ili Google Play-a, otvorite je i pratite korake za registraciju. Potrebno je da unesete osnovne podatke i verifikujete svoj email. Nakon toga, možete odmah početi da pretražujete proizvode ili se ponudite kao putnik.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-faq-2">
                  Kako funkcioniše plaćanje na Ponesi?
                </button>
              </h2>
              <div id="collapse-faq-2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-faq">
                <div class="accordion-body">
                  Ponesi koristi siguran sistem plaćanja. Kada se dogovorite oko kupovine, novac se zadržava na sigurnom računu dok ne potvrdite da ste primili proizvod. Tek tada se novac prosleđuje putniku koji je doneo proizvod. Ovo osigurava bezbednost transakcije za obe strane.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-faq-3">
                  Kako mogu da zaradim kao putnik na Ponesi?
                </button>
              </h2>
              <div id="collapse-faq-3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-faq">
                <div class="accordion-body">
                  Kao putnik na Ponesi, možete zaraditi donoseći proizvode drugim korisnicima. Jednostavno objavite svoje putovanje u aplikaciji, navedite odakle i kada putujete, i koliko prostora imate za proizvode. Korisnici će vas kontaktirati sa zahtevima, a vi birate koje ćete prihvatiti. Za svaki uspešno dostavljen proizvod, dobijate naknadu.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /Faq Section -->

  <!-- Testimonials Section -->
  <section id="testimonials" class="testimonials section">
    <div class="container section-title" data-aos="fade-up">
      <p>Zadovoljni Korisnici</p>
      <h2>Utisci</h2>
    </div>

    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div #swiperElement class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                },
                "breakpoints": {
                  "320": {
                    "slidesPerView": 1,
                    "spaceBetween": 40
                  },
                  "1200": {
                    "slidesPerView": 1,
                    "spaceBetween": 1
                  }
                }
              }
            </script>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial mx-auto">
                  <figure class="img-wrap">
                    <img src="assets/img/testimonials/testimonials-2.jpg" alt="Image" class="img-fluid">
                  </figure>
                  <h3 class="name">Ana Marković</h3>
                  <blockquote>
                    <p>
                      "Zahvaljujući Ponesi, konačno sam nabavila omiljenu kremu za lice koja se ne prodaje u Srbiji. Proces je bio jednostavan, a cena razumna. Oduševljena sam!"
                    </p>
                  </blockquote>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial mx-auto">
                  <figure class="img-wrap">
                    <img src="assets/img/testimonials/testimonials-1.jpg" alt="Image" class="img-fluid">
                  </figure>
                  <h3 class="name">Marko Petrović</h3>
                  <blockquote>
                    <p>
                      "Kao putnik na Ponesi, zaradio sam dodatni novac tokom svojih poslovnih putovanja. Aplikacija je intuitivna, a podrška korisnicima je odlična. Preporučujem svima!"
                    </p>
                  </blockquote>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial mx-auto">
                  <figure class="img-wrap">
                    <img src="assets/img/testimonials/testimonials-3.jpg" alt="Image" class="img-fluid">
                  </figure>
                  <h3 class="name">Jovana Nikolić</h3>
                  <blockquote>
                    <p>
                      "Ponesi mi je omogućio da nabavim retku knjigu koja mi je bila potrebna za studije. Ceo proces je bio brz i siguran. Definitivno ću ponovo koristiti ovu aplikaciju!"
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
